---
import Button from "@ui/Button.astro";
import ctaData from "@data/cta.json";

const { title, subtitle, ctaButton } = ctaData;
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 md:py-14 lg:px-8 lg:py-20"
>
  <div class="mx-auto mb-10 max-w-3xl text-center lg:mb-14">
    <h2
      class="text-balance text-4xl text-slate-800 sm:text-5xl"
    >
      {title.firstLine} <br /> 
      {title.secondLine} 
      <span class="font-medium text-teal-700">{title.companyName.highlighted}</span><span class="font-light text-slate-400">{title.companyName.normal}</span>.
    </h2>
    <p class="text-lg\/8 mt-5 text-pretty text-slate-600">
      {subtitle}
    </p>
    <Button
      href={ctaButton.href}
      variant="primary"
      className="mt-7 inline-flex border-none px-3.5!">{ctaButton.text}</Button
    >
  </div>
</section>
