---
import ContactInfo from '@common/ContactInfo.astro';

// Props for customization
const companyName = 'GMTEC Group';
const companyDescription =
  'GMTEC Group is a consulting company providing expertise in the Automotive sector since 2003.';

// Contact information for the company
const contactDetails = {
  address: 'France & Italy',
  phone: '+33 6 12 34 56 78',
  email: 'contact@gmtec.eu',
  website: 'www.gmtec.eu',
};

// Dynamic date for copyright display
const copyrightYear = new Date().getFullYear();

// Developer or team behind the website
const craftedBy = { name: 'valentin berceaux', url: 'v.berceaux@gmail.com' };
---

<footer class="mt-auto w-full bg-linear-to-t/oklch from-teal-200 via-transparent to-white pb-10">
  <div class="mx-auto mt-auto w-full max-w-[85rem] px-4 pb-10 sm:px-6 lg:px-8">
    <hr class="mb-10 border-slate-200" />

    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
      {/* Company Information */}
      <div class="self-center">
        <a
          href="/"
          class="flex-none text-xl font-semibold text-slate-700 uppercase focus:opacity-80 focus:outline-hidden"
          aria-label="{companyName} Homepage"
        >
          {companyName}
        </a>
        <p class="mt-5 text-pretty text-slate-600">
          {companyDescription}
        </p>
      </div>

      {/* Contact Information Section */}
      <div class="self-center md:text-right">
        <ContactInfo companyName={companyName} {...contactDetails} />
      </div>
    </div>

    {/* Divider before footer's bottom section */}
    <hr class="mt-10 mb-5 border-slate-200" />

    <div class="grid gap-y-2 sm:flex sm:items-center sm:justify-center sm:gap-y-0">
      {/* Copyright and Crafted By Section */}
      <p class="text-sm text-slate-400/50">
        &copy; {copyrightYear}
        {companyName} Crafted by{' '}
        <a
          href="mailto:v.berceaux@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          class="font-medium underline underline-offset-2 ring-slate-400 outline-hidden transition duration-300 hover:text-slate-400 hover:decoration-dashed focus:outline-hidden focus-visible:ring-3"
        >
          {craftedBy.name}
        </a>
      </p>
    </div>
  </div>
</footer>
