---
import heroImage from '@images/hero.jpeg';
import Button from '@ui/Button.astro';
import { Image } from 'astro:assets';
const title = 'Expertise in automotive consulting since 2003';
const subTitle =
  'We have been committed and focused, supporting our Principals mainly in the French and Italian markets, facilitating the growth of their Sales.';
const secondaryCTA = { text: 'Learn about our mission', href: '/about' };
const primaryCTA = { text: 'Contact us', href: '/contact' };
---

{/* Hero Content */}
<div class="flex flex-col items-center gap-8 lg:flex-row lg:gap-12">
  {/* Left side - Content */}
  <div class="flex-1 space-y-6">
    <div class="text-left">
      <h1 class="block text-3xl text-balance text-slate-800 sm:text-4xl md:text-5xl lg:text-6xl">
        {title}
      </h1>
    </div>

    <div class="text-left">
      <p class="text-lg text-pretty text-slate-700">
        {subTitle}
      </p>
    </div>

    {/* CTA Buttons */}
    <div class="flex flex-col justify-start gap-5 sm:flex-row">
      <Button href={secondaryCTA.href} variant="secondary">{secondaryCTA.text}</Button>
      <Button href={primaryCTA.href} variant="primary">{primaryCTA.text}</Button>
    </div>
  </div>

  {/* Right side - Image */}
  <div class="flex flex-1 justify-center lg:justify-end">
    <Image src={heroImage} alt="GMTEC Group" width={1000} height={1000} class="rounded-3xl" />
  </div>
</div>
